
ProjetoAluraUiKIT/.DS_Store
.DS_Store
ProjetoAluraUiKIT/ProjetoAluraUiKIT.xcodeproj/xcuserdata/michelsantos.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Chef Delivery SwiftUI/Chef Delivery SwiftUI.xcodeproj/xcuserdata/michelsantos.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
vollmed/Vollmed.xcodeproj/project.xcworkspace/xcuserdata/michelsantos.xcuserdatad/UserInterfaceState.xcuserstate
